.m-nav-item{ margin: 0 5px;cursor: pointer;}
.m-nav-item.active{color: red;}
.m-nav-item.router-link-active{color: red;}
.m-list-item{display: flex;}
.m-list-img-wrap{width: 112px;height: 150px;}
.m-list-img{width: 100%;}
.m-list-info{flex: 1;}
.m-input-icon{display: inline-block; margin: 2px 0 0 -20px;}


